.chat-container {
    max-width: 60%;
    margin: auto;
    margin-top: 15vh !important;
  
    display: flex;
    flex-direction: column;
  }
  
  .input-bar {
    width: 90%;
  }
  
  .messages-container {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 4px;
    max-height: 60vh;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
  }
  
  .my-msg,
  .not-my-msg {
    display: inline-block;
    max-width: 70%;
    border-radius: 5px 0px 0px 5px;
    padding: 8px;
    margin-bottom: 1vh;
  }
  
  .my-msg {
    background-color: #4caf50;
    color: white;
    float: right;
    margin-left: auto;
    margin-right: 0;
  }
  
  .not-my-msg {
    background-color: #f2f2f2;
    color: black;
    float: left;
    margin-left: 0;
    margin-right: auto;
  }
  
  .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .back-btn {
    width: 5%;
  }
  